
.input-remember {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
    background: #bc8f8f4f;
  }
  
  .sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color:red;
    background-color: yellow;
    color: #fff;
  }
  .error {
    font-size: 1.2rem;
    color: red;
  }