.form {
  /* background-color: aliceblue; */
  width: 100%;
  /* height: 400px; */
  margin: auto;
}
.input-remember {
  display: flex;

}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 50px;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
  background:  rgb(240, 238, 235);
  border-radius: 5px;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color:   rgb(240, 238, 235);
  background-color: brown;
  color: #fff;
  border-radius: 5px;
}
.error_login {
  font-size: 1.2rem;
  color: red;
}
