.postContiner {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  column-gap: 72px;
}
.fullName {
  font-size: 26px;
  color: #3c84ab;
  display: block;
}
.postEdit {
  display: flex;
  flex-direction: row;
  width: 100%;

  justify-content: space-between;
  padding: 0 50px;
}
.postPhoto {
  border: 1px solid #3c84ab;
  padding-bottom: 0;
  border-radius: 15px;
}
.postPhoto img {
  border-radius: 15px;
  object-fit: fill;
}
.postCadre {
  align-items: flex-start;
}
