.like,
.likeContiner {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: 29px;
}
.like p {
  font-size: 20px;
}

.likeContiner {
  column-gap: 20px;
}
.like {
  background-color: transparent;
  border: none;
}
.liks-with-list {
  display: flex;
  flex-direction: column;
}

.listUser {
  list-style-type: none;
  height: 60px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  column-gap: 10px;
  flex-wrap: wrap;
}
