

.main-nav-item {
  /* font-weight: bold; */
  color: white;
     font-size: 19px;
  border: none;
  text-decoration: none;
  margin-right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 30px;
}

.main-nav-item :hover{
   color: #3C84AB;
}



.logout {
  display: flex;
  flex-direction: row;
  grid-gap: 13px;
  align-items: center;
}
