.photoProfile {
  width: 220px;
  height: 221px;
  object-fit: contain;
  border: 1px solid #fdcedf;
  border-radius: 124px;
  object-fit: cover;
}

.Profile_input {
  position: relative;
}
.input {
  position: relative;
  opacity: 0;
  height: 74px;
  width: 47px;
  position: absolute;
  top: 31px;
  left: 27px;
  cursor: pointer;
  background-color: #b65dcc;
}
.updatePicture {
  position: relative;
  width: 109px;
  height: 48px;

  margin: 0 auto;
}
.icon-container {
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 27px;
  cursor: pointer;
}
