.account{
    background-color:brown;
    display: flex;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:90%;
    margin: 0 auto;
    background-color:aliceblue;

}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
    align-items: center;
}