.commentList{
width:100%;
margin: 20px auto;
display: flex;
flex-direction:column;
row-gap: 50px;

}
.comment-stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}